In [1]:
# importing a database from  kaggle
import pandas as pd
import numpy as np

vgs_dF = pd.read_csv(r"C:\Users\38095\Documents\GitHub\vgsales.csv")

In [2]:
vgs_dF

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [29]:
print(vgs_dF.head())

print(vgs_dF.info())

print(vgs_dF.describe())

   Rank                      Name Platform  Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16598 non-null  int32
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(5), int32(1), int64(1), object(4)
memory usage: 1.3+ MB
None
               Rank          Year      NA_Sales      EU_Sales      JP_Sales  \
count  16598.000000  16598.000000  16598.000000  16598.000000  16598.000000
mean    8300.605254   1973.647307      0.264667      0.146652      0.077782
std     4791.853933    254.346809      0.816683      0.505351      0.309291
min        1.000000      0.000000      0.000000      0.000000      0.000000
25%     4151.250000   2003.000000      0.000000      0.000000      0.000000
50%     8300.500000   2007.000000      0.080000      0.020000      0.000000
75%    12449.750000   2010.000000      0.240000      0.110000      0.040000
max    16600.000000   2020.000000     41.490000     29.020000     10.220000

        Other_Sales  Global_Sales
count  16598.000000  16598.000000
mean       0.048063      0.537441
std        0.188588      1.555028
min        0.000000      0.010000
25%        0.000000      0.060000
50%        0.010000      0.170000
75%        0.040000      0.470000
max       10.570000     82.740000

In [3]:
missing_game = vgs_dF['Name'].isnull().any()
missing_film = vgs_dF['Year'].isnull().any()
missing_publisher = vgs_dF['Publisher'].isnull().any()

zeros_game = (vgs_dF['Name'] == 0).any()
zeros_film = (vgs_dF['Year'] == 0).any()
zeros_publisher = (vgs_dF['Publisher'] == 0).any()

# Вывод результатов
print("Empty 'Name':", missing_game)
print("Null 'Name':", zeros_game)
print("Empty 'Year':", missing_film)
print("Null 'Year':", zeros_film)
print("Empty 'Publisher':", missing_publisher)
print("Null 'Publisher':", zeros_publisher)

Empty 'Name': False
Null 'Name': False
Empty 'Year': True
Null 'Year': False
Empty 'Publisher': True
Null 'Publisher': False

In [30]:
vgs_dF.replace([np.inf, -np.inf], np.nan, inplace=True)
vgs_dF['Year'].fillna(0, inplace=True)
vgs_dF['Year'] = vgs_dF['Year'].astype(int)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [5]:
columns_with_null = vgs_dF.columns[vgs_dF.isnull().any()]
print(columns_with_null)
for column in columns_with_null:
    null_values_column = vgs_dF[column].isnull().sum()
   

null_counts = vgs_dF.isnull().sum()
print(null_counts)

Index(['Publisher'], dtype='object')
Rank             0
Name             0
Platform         0
Year             0
Genre            0
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

In [6]:
for column in vgs_dF:
    duplicates = vgs_dF[column].duplicated().sum()
    print(f"duplicates in {column} {duplicates} ")

duplicates in Rank 0
duplicates in Name 5105
duplicates in Platform 16567
duplicates in Year 16558
duplicates in Genre 16586
duplicates in Publisher 16019
duplicates in NA_Sales 16189
duplicates in EU_Sales 16293
duplicates in JP_Sales 16354
duplicates in Other_Sales 16441
duplicates in Global_Sales 15975

In [7]:
counts_game = vgs_dF['Name'].value_counts()
duplicates_game = counts_game[counts_game > 1]
print(duplicates_game)

Name
Need for Speed: Most Wanted    12
Ratatouille                     9
FIFA 14                         9
LEGO Marvel Super Heroes        9
Madden NFL 07                   9
                               ..
Triple Play 2002                2
FIFA Soccer                     2
EA Playground                   2
Dragon's Dogma                  2
Stuntman                        2
Name: count, Length: 2775, dtype: int64

In [8]:
vgs_dF.drop_duplicates(inplace=True)

In [9]:
counts_game = vgs_dF['Name'].value_counts()
duplicates_game = counts_game[counts_game > 1]
print(duplicates_game)

Name
Need for Speed: Most Wanted    12
Ratatouille                     9
FIFA 14                         9
LEGO Marvel Super Heroes        9
Madden NFL 07                   9
                               ..
Triple Play 2002                2
FIFA Soccer                     2
EA Playground                   2
Dragon's Dogma                  2
Stuntman                        2
Name: count, Length: 2775, dtype: int64

In [10]:
mg_df = pd.read_csv(r"C:\Users\38095\Documents\GitHub\movies - games1 (1).csv", encoding='latin1')

In [11]:
mg_df

,Game,Year,Developer,Publisher,Film
0,3 Ninjas Kick Back,1994,Malibu Interactive,Sony Imagesoft,3 Ninjas Kick Back
1,007: Licence to Kill,1989,Quixel,Domark,Licence to Kill
2,007 Legends,2012,Eurocom,Activision,"Goldfinger, On Her Majesty's Secret Service, M..."
3,102 Dalmatians: Puppies to the Rescue,2000,Crystal Dynamics,"Eidos Interactive (PS1, PC, DC)",102 Dalmatians
4,NaN,NaN,NaN,Activision (GBC),NaN
...,...,...,...,...,...
999,Willow,1989,Capcom,Capcom,Willow
1000,The Wizard of Oz,1993,Manley & Associates,SETA Corporation[60],The Wizard of Oz
1001,The World Is Not Enough,2000,Eurocom,EA Games,The World Is Not Enough
1002,The World Is Not Enough,2000,Black Ops Entertainment,EA Games,The World Is Not Enough
1003,The World of Cars Online,2008,Disney Interactive Studios,The Walt Disney Company,Cars film series

In [12]:
columns_with_null = mg_df.columns[mg_df.isnull().any()]
print(columns_with_null)
for column in columns_with_null:
    null_values_column = mg_df[column].isnull().sum()
   

null_counts = mg_df.isnull().sum()
print(null_counts)

Index(['Game', 'Year', 'Developer', 'Publisher', 'Film'], dtype='object')
Game         410
Year         410
Developer    130
Publisher    243
Film         410
dtype: int64

In [13]:
mg_df.dropna(subset=['Game','Film'], inplace=True)
mg_df.drop_duplicates(subset=['Game','Film'], inplace=True)

In [14]:
mg_df

,Game,Year,Developer,Publisher,Film
0,3 Ninjas Kick Back,1994,Malibu Interactive,Sony Imagesoft,3 Ninjas Kick Back
1,007: Licence to Kill,1989,Quixel,Domark,Licence to Kill
2,007 Legends,2012,Eurocom,Activision,"Goldfinger, On Her Majesty's Secret Service, M..."
3,102 Dalmatians: Puppies to the Rescue,2000,Crystal Dynamics,"Eidos Interactive (PS1, PC, DC)",102 Dalmatians
5,300: March to Glory,2007,Collision Studios,Warner Bros. Games,300
...,...,...,...,...,...
996,Wild Wild West: The Steel Assassin,1999,SouthPeak Interactive,SouthPeak Interactive,Wild Wild West
997,Willow,1988,Brian A. Rice Inc,Mindscape,Willow
1000,The Wizard of Oz,1993,Manley & Associates,SETA Corporation[60],The Wizard of Oz
1001,The World Is Not Enough,2000,Eurocom,EA Games,The World Is Not Enough
1003,The World of Cars Online,2008,Disney Interactive Studios,The Walt Disney Company,Cars film series

In [15]:
mg_df.shape

(542, 5)

In [16]:
columns_with_null = mg_df.columns[mg_df.isnull().any()]
print(columns_with_null)
for column in columns_with_null:
    null_values_column = mg_df[column].isnull().sum()
   

null_counts = mg_df.isnull().sum()
print(null_counts)

Index(['Developer', 'Publisher'], dtype='object')
Game          0
Year          0
Developer    15
Publisher    18
Film          0
dtype: int64

In [17]:
for column in mg_df:
    duplicates = mg_df[column].duplicated().sum()
    print(f"duplicates in {column} {duplicates} ")

duplicates in Game 10
duplicates in Year 499
duplicates in Developer 157
duplicates in Publisher 303
duplicates in Film 86

In [18]:
mg_df['Game'].duplicated()
mg_df['Film'].duplicated()

0       False
1       False
2       False
3       False
5       False
        ...
996     False
997     False
1000    False
1001    False
1003    False
Name: Film, Length: 542, dtype: bool

In [19]:
mg_df['Game'].value_counts()
mg_df['Film'].value_counts()

Film
Top Gun                           9
Shrek                             7
Jurassic Park III                 7
Aliens                            6
Lord of the Rings film trilogy    4
                                 ..
Garfield Gets Real                1
Frozen                            1
From Dusk till Dawn               1
Flushed Away                      1
Cars film series                  1
Name: count, Length: 456, dtype: int64

In [20]:
counts_game = mg_df['Game'].value_counts()
duplicates_game = counts_game[counts_game > 1]
print(duplicates_game)

counts_film = mg_df['Film'].value_counts()
duplicates_film = counts_film[counts_film > 1]
print(duplicates_film)

Game
The Movie                           3
Bill & Ted's Excellent Adventure    2
Ghostbusters                        2
Beverly Hills Cop                   2
Mad Max                             2
The Godfather                       2
RoboCop                             2
The Italian Job                     2
Jurassic Park                       2
Name: count, dtype: int64
Film
Top Gun                                          9
Shrek                                            7
Jurassic Park III                                7
Aliens                                           6
Lord of the Rings film trilogy                   4
Scarface                                         3
Madagascar                                       3
Indiana Jones and the Last Crusade               3
Antz                                             3
Cars                                             3
Transformers                                     3
Kung Fu Panda franchise                          3
Transformers: Revenge of the Fallen              3
Return of the Jedi                               3
Lilo & Stitch                                    3
Jurassic Park                                    3
various Disney films                             3
Star Wars (1977)                                 2
Ratatouille                                      2
Batman                                           2
Batman Forever                                   2
Beauty and the Beast franchise                   2
Beauty and the Beast                             2
Rocky franchise                                  2
Monty Python and the Holy Grail                  2
Starship Troopers                                2
The Empire Strikes Back                          2
First three films in the Die Hard film series    2
The Fifth Element                                2
Star Trek Generations                            2
The Lost World: Jurassic Park                    2
GoldenEye                                        2
Over the Hedge                                   2
Chicken Little                                   2
Friday the 13th franchise                        2
Rambo: First Blood Part II                       2
The Scorpion King                                2
Die Hard                                         2
Saw film franchise                               2
The Lawnmower Man                                2
RoboCop                                          2
Superman Returns                                 2
Atlantis: The Lost Empire                        2
The Incredibles                                  2
The Warriors                                     2
Alice in Wonderland                              2
Alien 3                                          2
Alien film series                                2
WarGames                                         2
The Lion King                                    2
How the Grinch Stole Christmas                   2
Name: count, dtype: int64

In [21]:
# Определение дубликатов для столбца 'Game'
duplicates_game = mg_df[mg_df['Game'].duplicated(keep=False)]

# Определение дубликатов для столбца 'Film'
duplicates_film = mg_df[mg_df['Film'].duplicated(keep=False)]

# Объединение дубликатов
all_duplicates = pd.concat([duplicates_game, duplicates_film])

# Вывод всех дубликатов
all_duplicates

,Game,Year,Developer,Publisher,Film
128,Beverly Hills Cop,2006,Atomic Planet Entertainment,Blast Entertainment,Beverly Hills Cop film series
129,Beverly Hills Cop,1990,Tynesoft,NaN,Beverly Hills Cop
132,Bill & Ted's Excellent Adventure,1989,Off The Wall Productions[4],Capstone,Bill & Ted's Excellent Adventure
133,Bill & Ted's Excellent Adventure,1991,"Mev Dinc, Focus (as Software Studios)",Electric Dreams Software,Bill & Ted's Excellent Adventure and Bill & Te...
344,Ghostbusters,1984,Activision,Activision,Ghostbusters (1984)
...,...,...,...,...,...
938,Transformers: The Game,2007,Traveller's Tales,Activision,Transformers
973,WarGames,1984,Coleco,NaN,WarGames
974,WarGames: Defcon 1,1998,Interactive Studios,MGM Interactive,WarGames
977,The Warriors,2005,Rockstar Toronto[ai],Rockstar Games,The Warriors
978,The Warriors: Street Brawl,2009,CXTM,Paramount Digital Entertainment,The Warriors

In [22]:
# Проверка наличия незаполненных ячеек в столбце 'Game'
missing_game = mg_df['Game'].isnull().any()

# Проверка наличия нулевых значений в столбце 'Game'
zeros_game = (mg_df['Game'] == 0).any()

# Проверка наличия незаполненных ячеек в столбце 'Film'
missing_film = mg_df['Film'].isnull().any()

# Проверка наличия нулевых значений в столбце 'Film'
zeros_film = (mg_df['Film'] == 0).any()

# Вывод результатов
print("Empty 'Game':", missing_game)
print("Null 'Game':", zeros_game)
print("Empty 'Film':", missing_film)
print("Null 'Film':", zeros_film)

Empty 'Game': False
Null 'Game': False
Empty 'Film': False
Null 'Film': False

In [23]:
mg_df.dtypes

Game         object
Year         object
Developer    object
Publisher    object
Film         object
dtype: object

In [24]:
mg_df = mg_df[mg_df['Year'] != '(cancelled)']

In [25]:
mg_df['Year'] = mg_df['Year'].astype(int)

C:\Users\38095\AppData\Local\Temp\ipykernel_27712\1094734758.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mg_df['Year'] = mg_df['Year'].astype(int)

In [26]:
mg_df.dtypes

Game         object
Year          int32
Developer    object
Publisher    object
Film         object
dtype: object

In [27]:
mg_df

,Game,Year,Developer,Publisher,Film
0,3 Ninjas Kick Back,1994,Malibu Interactive,Sony Imagesoft,3 Ninjas Kick Back
1,007: Licence to Kill,1989,Quixel,Domark,Licence to Kill
2,007 Legends,2012,Eurocom,Activision,"Goldfinger, On Her Majesty's Secret Service, M..."
3,102 Dalmatians: Puppies to the Rescue,2000,Crystal Dynamics,"Eidos Interactive (PS1, PC, DC)",102 Dalmatians
5,300: March to Glory,2007,Collision Studios,Warner Bros. Games,300
...,...,...,...,...,...
996,Wild Wild West: The Steel Assassin,1999,SouthPeak Interactive,SouthPeak Interactive,Wild Wild West
997,Willow,1988,Brian A. Rice Inc,Mindscape,Willow
1000,The Wizard of Oz,1993,Manley & Associates,SETA Corporation[60],The Wizard of Oz
1001,The World Is Not Enough,2000,Eurocom,EA Games,The World Is Not Enough
1003,The World of Cars Online,2008,Disney Interactive Studios,The Walt Disney Company,Cars film series

In [28]:
for column in mg_df:
    print (mg_df[column].value_counts())

Game
The Movie                           3
Ghostbusters                        2
Beverly Hills Cop                   2
The Godfather                       2
Bill & Ted's Excellent Adventure    2
                                   ..
Fantastic Four                      1
Fantasia: Music Evolved             1
Fantasia                            1
The Evil Dead                       1
The World of Cars Online            1
Name: count, Length: 531, dtype: int64
Year
2007    30
2009    29
2006    27
1994    24
2005    24
2004    23
2001    23
2002    23
2010    23
2008    22
1990    20
1991    16
2011    16
1995    16
1997    15
2000    14
2003    14
1996    14
1992    14
1986    12
1999    12
2012    11
1993    11
1987    11
1989    11
1998    10
1983     9
2014     8
1984     8
2013     7
1985     7
2017     6
1982     6
1988     6
2016     4
2015     4
2021     3
2023     3
2019     2
2018     1
2022     1
1979     1
Name: count, dtype: int64
Developer
Ocean Software                  12
Traveller's Tales               12
Probe Entertainment              7
Vicarious Visions                7
Artificial Mind and Movement     6
                                ..
GameSquad                        1
IllFonic                         1
Domark[16]                       1
Monkey Bar Games (PS2, GCN)      1
Brian A. Rice Inc                1
Name: count, Length: 383, dtype: int64
Publisher
Activision                                51
THQ                                       23
Disney Interactive Studios                17
Warner Bros. Interactive Entertainment    17
Electronic Arts                           17
                                          ..
Vivendi Universal Games[k]                 1
Domark[17]                                 1
Gun Media                                  1
GameMill Entertainment                     1
The Walt Disney Company                    1
Name: count, Length: 238, dtype: int64
Film
Top Gun                           9
Jurassic Park III                 7
Shrek                             7
Aliens                            6
Lord of the Rings film trilogy    4
                                 ..
Garfield Gets Real                1
Frozen                            1
From Dusk till Dawn               1
Flushed Away                      1
Cars film series                  1
Name: count, Length: 455, dtype: int64

In [34]:
mg_df.rename(columns={'Game': 'Name'}, inplace=True)
mg_df

C:\Users\38095\AppData\Local\Temp\ipykernel_27712\4253140320.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mg_df.rename(columns={'Game': 'Name'}, inplace=True)

,Name,Year,Developer,Publisher,Film
0,3 Ninjas Kick Back,1994,Malibu Interactive,Sony Imagesoft,3 Ninjas Kick Back
1,007: Licence to Kill,1989,Quixel,Domark,Licence to Kill
2,007 Legends,2012,Eurocom,Activision,"Goldfinger, On Her Majesty's Secret Service, M..."
3,102 Dalmatians: Puppies to the Rescue,2000,Crystal Dynamics,"Eidos Interactive (PS1, PC, DC)",102 Dalmatians
5,300: March to Glory,2007,Collision Studios,Warner Bros. Games,300
...,...,...,...,...,...
996,Wild Wild West: The Steel Assassin,1999,SouthPeak Interactive,SouthPeak Interactive,Wild Wild West
997,Willow,1988,Brian A. Rice Inc,Mindscape,Willow
1000,The Wizard of Oz,1993,Manley & Associates,SETA Corporation[60],The Wizard of Oz
1001,The World Is Not Enough,2000,Eurocom,EA Games,The World Is Not Enough
1003,The World of Cars Online,2008,Disney Interactive Studios,The Walt Disney Company,Cars film series

In [31]:
vgs_dF.to_csv('vgs_cleanedSL.csv', index=False)
mg_df.to_csv('mg_cleanedSL.csv', index=False)

In [45]:
vgs_mg_df = pd.merge(mg_df,vgs_dF, on=['Name', 'Year', 'Publisher'], how = 'inner')

In [46]:
vgs_mg_df

,Name,Year,Developer,Publisher,Film,Rank,Platform,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Alien Trilogy,1996,Probe Entertainment,Acclaim Entertainment,Alien film series,4150,PS,Shooter,0.24,0.16,0.04,0.03,0.47
1,Aliens: Colonial Marines,2013,Gearbox Software[b],Sega,Alien film series,2574,X360,Shooter,0.36,0.37,0.00,0.07,0.80
2,Aliens: Colonial Marines,2013,Gearbox Software[b],Sega,Alien film series,3141,PS3,Shooter,0.20,0.31,0.00,0.13,0.64
3,Aliens: Colonial Marines,2013,Gearbox Software[b],Sega,Alien film series,8116,PC,Shooter,0.10,0.06,0.00,0.02,0.18
4,Alvin and the Chipmunks,2007,Sensory Sweep Studios,Brash Entertainment,Alvin and the Chipmunks,9251,DS,Misc,0.12,0.00,0.00,0.01,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Wanted: Weapons of Fate,2009,Grin,Warner Bros. Interactive Entertainment,Wanted,5937,PS3,Shooter,0.14,0.10,0.01,0.05,0.30
321,Where the Wild Things Are,2009,Griptonite Games,Warner Bros. Interactive Entertainment,Where the Wild Things Are,9007,DS,Platform,0.13,0.00,0.00,0.01,0.14
322,Where the Wild Things Are,2009,Griptonite Games,Warner Bros. Interactive Entertainment,Where the Wild Things Are,9670,Wii,Platform,0.11,0.00,0.00,0.01,0.12
323,Where the Wild Things Are,2009,Griptonite Games,Warner Bros. Interactive Entertainment,Where the Wild Things Are,10138,X360,Platform,0.10,0.00,0.00,0.01,0.11
324,Where the Wild Things Are,2009,Griptonite Games,Warner Bros. Interactive Entertainment,Where the Wild Things Are,10280,PS3,Platform,0.09,0.01,0.00,0.01,0.11

In [47]:
duplicates = vgs_mg_df[vgs_mg_df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [Name, Year, Developer, Publisher, Film, Rank, Platform, Genre, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

In [56]:
vgs_mg_df.rename(columns=lambda x: x.strip().lower().replace(' ', '_'), inplace=True)

In [57]:
vgs_mg_df.to_csv('vgs_mg_cleanedSL.csv', index=False)

In [58]:
vgs_mg_df

,name,year,developer,publisher,film,rank,platform,genre,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,Alien Trilogy,1996,Probe Entertainment,Acclaim Entertainment,Alien film series,4150,PS,Shooter,0.24,0.16,0.04,0.03,0.47
1,Aliens: Colonial Marines,2013,Gearbox Software[b],Sega,Alien film series,2574,X360,Shooter,0.36,0.37,0.00,0.07,0.80
2,Aliens: Colonial Marines,2013,Gearbox Software[b],Sega,Alien film series,3141,PS3,Shooter,0.20,0.31,0.00,0.13,0.64
3,Aliens: Colonial Marines,2013,Gearbox Software[b],Sega,Alien film series,8116,PC,Shooter,0.10,0.06,0.00,0.02,0.18
4,Alvin and the Chipmunks,2007,Sensory Sweep Studios,Brash Entertainment,Alvin and the Chipmunks,9251,DS,Misc,0.12,0.00,0.00,0.01,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Wanted: Weapons of Fate,2009,Grin,Warner Bros. Interactive Entertainment,Wanted,5937,PS3,Shooter,0.14,0.10,0.01,0.05,0.30
321,Where the Wild Things Are,2009,Griptonite Games,Warner Bros. Interactive Entertainment,Where the Wild Things Are,9007,DS,Platform,0.13,0.00,0.00,0.01,0.14
322,Where the Wild Things Are,2009,Griptonite Games,Warner Bros. Interactive Entertainment,Where the Wild Things Are,9670,Wii,Platform,0.11,0.00,0.00,0.01,0.12
323,Where the Wild Things Are,2009,Griptonite Games,Warner Bros. Interactive Entertainment,Where the Wild Things Are,10138,X360,Platform,0.10,0.00,0.00,0.01,0.11
324,Where the Wild Things Are,2009,Griptonite Games,Warner Bros. Interactive Entertainment,Where the Wild Things Are,10280,PS3,Platform,0.09,0.01,0.00,0.01,0.11