In [8]:
import pandas as pd
import numpy as np
import unicodedata
df_vbasedm_dirty = pd.read_csv('/Users/merryxmm7/Documents/GitHub/SQL_Quest_VideoGames/mg_cleanedSL.csv')
df_vbasedm_dirty

,Game,Year,Developer,Publisher,Film
0,3 Ninjas Kick Back,1994,Malibu Interactive,Sony Imagesoft,3 Ninjas Kick Back
1,007: Licence to Kill,1989,Quixel,Domark,Licence to Kill
2,007 Legends,2012,Eurocom,Activision,"Goldfinger, On Her Majesty's Secret Service, M..."
3,102 Dalmatians: Puppies to the Rescue,2000,Crystal Dynamics,"Eidos Interactive (PS1, PC, DC)",102 Dalmatians
4,300: March to Glory,2007,Collision Studios,Warner Bros. Games,300
...,...,...,...,...,...
536,Wild Wild West: The Steel Assassin,1999,SouthPeak Interactive,SouthPeak Interactive,Wild Wild West
537,Willow,1988,Brian A. Rice Inc,Mindscape,Willow
538,The Wizard of Oz,1993,Manley & Associates,SETA Corporation[60],The Wizard of Oz
539,The World Is Not Enough,2000,Eurocom,EA Games,The World Is Not Enough
540,The World of Cars Online,2008,Disney Interactive Studios,The Walt Disney Company,Cars film series

In [4]:
# Lowercase all column names
df_vbasedm_dirty = df_vbasedm_dirty.rename(columns={col: col.lower() for col in df_vbasedm_dirty.columns})
df_vbasedm_dirty

,game,year,developer,publisher,film
0,3 Ninjas Kick Back,1994,Malibu Interactive,Sony Imagesoft,3 Ninjas Kick Back
1,007: Licence to Kill,1989,Quixel,Domark,Licence to Kill
2,007 Legends,2012,Eurocom,Activision,"Goldfinger, On Her Majesty's Secret Service, M..."
3,102 Dalmatians: Puppies to the Rescue,2000,Crystal Dynamics,"Eidos Interactive (PS1, PC, DC)",102 Dalmatians
4,300: March to Glory,2007,Collision Studios,Warner Bros. Games,300
...,...,...,...,...,...
536,Wild Wild West: The Steel Assassin,1999,SouthPeak Interactive,SouthPeak Interactive,Wild Wild West
537,Willow,1988,Brian A. Rice Inc,Mindscape,Willow
538,The Wizard of Oz,1993,Manley & Associates,SETA Corporation[60],The Wizard of Oz
539,The World Is Not Enough,2000,Eurocom,EA Games,The World Is Not Enough
540,The World of Cars Online,2008,Disney Interactive Studios,The Walt Disney Company,Cars film series

In [5]:
nan_values = df_vbasedm_dirty.isna()

# Summing up the True values (NaNs) in each column
nan_count_per_column = nan_values.sum()

print("Number of NaN values per column:")
print(nan_count_per_column)

Number of NaN values per column:
game          0
year          0
developer    15
publisher    18
film          0
dtype: int64

In [6]:
# Fill NaN values in 'developer' and 'publisher' columns with "UNKNOWN"
df_vbasedm_dirty['developer'].fillna("UNKNOWN", inplace=True)
df_vbasedm_dirty['publisher'].fillna("UNKNOWN", inplace=True)

Number of NaN values per column after filling:
game         0
year         0
developer    0
publisher    0
film         0
dtype: int64

In [7]:
# Function to check if a string contains non-ASCII characters
def contains_non_ascii(s):
    return any(ord(char) > 127 for char in s)

# Check for non-ASCII values in the DataFrame
non_ascii_values = df_vbasedm_dirty.applymap(lambda x: contains_non_ascii(str(x)))

# Find the rows and columns where non-ASCII values are present
rows_with_non_ascii = non_ascii_values.any(axis=1)
cols_with_non_ascii = non_ascii_values.any(axis=0)

# Print the rows and columns where non-ASCII values are present
print("Rows with non-ASCII values:")
print(df_vbasedm_dirty[rows_with_non_ascii])

print("\nColumns with non-ASCII values:")
print(df_vbasedm_dirty.columns[cols_with_non_ascii])

Rows with non-ASCII values:
                                      game  year  \
2                              007 Legends  2012
3    102 Dalmatians: Puppies to the Rescue  2000
5                       A Sound of Thunder  2004
10                                Æon Flux  2005
11                Alex Rider: Stormbreaker  2006
..                                     ...   ...
526                                Warlock  1995
530                             Waterworld  1995
531                          Wayne's World  1993
532         We're Back! A Dinosaur's Story  1993
540               The World of Cars Online  2008

                                             developer  \
2                                              Eurocom
3                                     Crystal Dynamics
5                                 Möbius Entertainment
10                                    Terminal Reality
11           Razorback Developments (Game Boy Advance)
..                                                 ...
526                                Realtime Associates
530                          Ocean of America (VB, SS)
531        Gray Matter Inc. (SNES, Mega Drive/Genesis)
532  Hi-Tech Expressions (SNES, Game Boy, Mega Driv...
540                         Disney Interactive Studios

                           publisher  \
2                         Activision
3    Eidos Interactive (PS1, PC, DC)
5                 BAM! Entertainment
10             Majesco Entertainment
11                               THQ
..                               ...
526        Acclaim Entertainment[ah]
530    Ocean Software (VB, SNES, GB)
531                 Toy Headquarters
532                  Visual Concepts
540          The Walt Disney Company

                                                  film
2    Goldfinger, On Her Majesty's Secret Service, M...
3                                       102 Dalmatians
5                                   A Sound of Thunder
10                                            Æon Flux
11                                        Stormbreaker
..                                                 ...
526                                Warlock film series
530                                         Waterworld
531                                      Wayne's World
532                     We're Back! A Dinosaur's Story
540                                   Cars film series

[190 rows x 5 columns]

Columns with non-ASCII values:
Index(['game', 'developer', 'publisher', 'film'], dtype='object')

/var/folders/z5/cx4ddsg557q0lqzd5939yrkh0000gn/T/ipykernel_1614/2443430845.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  non_ascii_values = df_vbasedm_dirty.applymap(lambda x: contains_non_ascii(str(x)))

In [22]:
import unicodedata

# Function to replace non-ASCII characters with their ASCII equivalents
def replace_non_ascii(s):
    try:
        return ''.join(char if unicodedata.name(char).startswith('LATIN') else '' for char in str(s))
    except ValueError:
        return ''  # Return an empty string if no Unicode name is found for the character

# Iterate over each cell containing non-ASCII characters
for col in df_vbasedm_dirty.columns:
    df_vbasedm_dirty[col] = df_vbasedm_dirty[col].apply(replace_non_ascii)

# Print the DataFrame after conversion
print("DataFrame with non-ASCII characters replaced:")
print(df_vbasedm_dirty)

DataFrame with non-ASCII characters replaced:
                             Game Year                 Developer  \
0                  NinjasKickBack              MalibuInteractive
1                   LicencetoKill                         Quixel
2                         Legends                        Eurocom
3    DalmatiansPuppiestotheRescue                CrystalDynamics
4                    MarchtoGlory               CollisionStudios
..                            ...  ...                       ...
536  WildWildWestTheSteelAssassin           SouthPeakInteractive
537                        Willow                  BrianARiceInc
538                 TheWizardofOz               ManleyAssociates
539           TheWorldIsNotEnough                        Eurocom
540          TheWorldofCarsOnline       DisneyInteractiveStudios

                  Publisher                                               Film
0             SonyImagesoft                                     NinjasKickBack
1                    Domark                                      LicencetoKill
2                Activision  GoldfingerOnHerMajestysSecretServiceMoonrakerL...
3    EidosInteractivePSPCDC                                         Dalmatians
4           WarnerBrosGames
..                      ...                                                ...
536    SouthPeakInteractive                                       WildWildWest
537               Mindscape                                             Willow
538         SETACorporation                                      TheWizardofOz
539                 EAGames                                TheWorldIsNotEnough
540    TheWaltDisneyCompany                                     Carsfilmseries

[541 rows x 5 columns]

In [25]:
import unicodedata

# Function to check if a string contains non-ASCII characters
def contains_non_ascii(s):
    return any(ord(char) > 127 for char in str(s))

# Check for non-ASCII values in the DataFrame
non_ascii_values = df_vbasedm_dirty.applymap(lambda x: contains_non_ascii(x))

# Find the rows and columns where non-ASCII values are present
rows_with_non_ascii = non_ascii_values.any(axis=1)
cols_with_non_ascii = non_ascii_values.any(axis=0)

# Print the rows and columns where non-ASCII values are present
print("Rows with non-ASCII values:")
print(df_vbasedm_dirty[rows_with_non_ascii])

print("\nColumns with non-ASCII values:")
print(df_vbasedm_dirty.columns[cols_with_non_ascii])

Rows with non-ASCII values:
                           Game Year             Developer  \
5               ASoundofThunder        MöbiusEntertainment
10                      ÆonFlux            TerminalReality
49     AsterixattheOlympicGames         ÉtrangesLibellules
71                    BebesKids       RadicalEntertainment
273                     Kirikou       ÉtrangesLibellulesPS
394                          Ro         CentauriProduction
512             UnJuegodeHuevos           FabricationGames
516  UunoTurhapuromuuttaamaalle                PasiHytönen

                Publisher                        Film
5        BAMEntertainment             ASoundofThunder
10   MajescoEntertainment                     ÆonFlux
49            AtariEurope    AsterixattheOlympicGames
71   ParamountInteractive                   BébésKids
273               Wanadoo      KirikouandtheSorceress
394                   nan                Rockpodvraák
512              ZeeboInc         UnaPelículadeHuevos
516              Amersoft  UunoTurhapuromuuttaamaalle

Columns with non-ASCII values:
Index(['Game', 'Developer', 'Film'], dtype='object')

/var/folders/z5/cx4ddsg557q0lqzd5939yrkh0000gn/T/ipykernel_1614/1091731132.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  non_ascii_values = df_vbasedm_dirty.applymap(lambda x: contains_non_ascii(x))

In [28]:
import unicodedata

# Function to replace non-ASCII characters with their ASCII equivalents
def replace_non_ascii(s):
    return ''.join(char if unicodedata.name(char).startswith('LATIN') else char.encode('ascii', 'ignore').decode('ascii') for char in str(s))

# Apply the function to the columns with non-ASCII values
for col in df_vbasedm_dirty.columns[cols_with_non_ascii]:
    df_vbasedm_dirty[col] = df_vbasedm_dirty[col].apply(replace_non_ascii)

# Print the DataFrame after conversion
print("DataFrame with non-ASCII characters replaced:")
print(df_vbasedm_dirty)

DataFrame with non-ASCII characters replaced:
                             Game Year                 Developer  \
0                  NinjasKickBack              MalibuInteractive
1                   LicencetoKill                         Quixel
2                         Legends                        Eurocom
3    DalmatiansPuppiestotheRescue                CrystalDynamics
4                    MarchtoGlory               CollisionStudios
..                            ...  ...                       ...
536  WildWildWestTheSteelAssassin           SouthPeakInteractive
537                        Willow                  BrianARiceInc
538                 TheWizardofOz               ManleyAssociates
539           TheWorldIsNotEnough                        Eurocom
540          TheWorldofCarsOnline       DisneyInteractiveStudios

                  Publisher                                               Film
0             SonyImagesoft                                     NinjasKickBack
1                    Domark                                      LicencetoKill
2                Activision  GoldfingerOnHerMajestysSecretServiceMoonrakerL...
3    EidosInteractivePSPCDC                                         Dalmatians
4           WarnerBrosGames
..                      ...                                                ...
536    SouthPeakInteractive                                       WildWildWest
537               Mindscape                                             Willow
538         SETACorporation                                      TheWizardofOz
539                 EAGames                                TheWorldIsNotEnough
540    TheWaltDisneyCompany                                     Carsfilmseries

[541 rows x 5 columns]

In [30]:
import re

# Function to remove non-ASCII characters from a string
def remove_non_ascii(s):
    return re.sub(r'[^\x00-\x7F]+', '', str(s))

# Apply the function to the columns with non-ASCII values
for col in df_vbasedm_dirty.columns[cols_with_non_ascii]:
    df_vbasedm_dirty[col] = df_vbasedm_dirty[col].apply(remove_non_ascii)

# Print the DataFrame after conversion
print("DataFrame with non-ASCII characters replaced:")
print(df_vbasedm_dirty)

DataFrame with non-ASCII characters replaced:
                             Game Year                 Developer  \
0                  NinjasKickBack              MalibuInteractive
1                   LicencetoKill                         Quixel
2                         Legends                        Eurocom
3    DalmatiansPuppiestotheRescue                CrystalDynamics
4                    MarchtoGlory               CollisionStudios
..                            ...  ...                       ...
536  WildWildWestTheSteelAssassin           SouthPeakInteractive
537                        Willow                  BrianARiceInc
538                 TheWizardofOz               ManleyAssociates
539           TheWorldIsNotEnough                        Eurocom
540          TheWorldofCarsOnline       DisneyInteractiveStudios

                  Publisher                                               Film
0             SonyImagesoft                                     NinjasKickBack
1                    Domark                                      LicencetoKill
2                Activision  GoldfingerOnHerMajestysSecretServiceMoonrakerL...
3    EidosInteractivePSPCDC                                         Dalmatians
4           WarnerBrosGames
..                      ...                                                ...
536    SouthPeakInteractive                                       WildWildWest
537               Mindscape                                             Willow
538         SETACorporation                                      TheWizardofOz
539                 EAGames                                TheWorldIsNotEnough
540    TheWaltDisneyCompany                                     Carsfilmseries

[541 rows x 5 columns]

In [31]:
# Function to check if a string contains non-ASCII characters
def contains_non_ascii(s):
    return any(ord(char) > 127 for char in str(s))

# Check for non-ASCII values in the DataFrame
non_ascii_values = df_vbasedm_dirty.applymap(lambda x: contains_non_ascii(x))

# Find the rows and columns where non-ASCII values are present
rows_with_non_ascii = non_ascii_values.any(axis=1)
cols_with_non_ascii = non_ascii_values.any(axis=0)

# Print the rows and columns where non-ASCII values are present
print("Rows with non-ASCII values:")
print(df_vbasedm_dirty[rows_with_non_ascii])

print("\nColumns with non-ASCII values:")
print(df_vbasedm_dirty.columns[cols_with_non_ascii])

Rows with non-ASCII values:
Empty DataFrame
Columns: [Game, Year, Developer, Publisher, Film]
Index: []

Columns with non-ASCII values:
Index([], dtype='object')

/var/folders/z5/cx4ddsg557q0lqzd5939yrkh0000gn/T/ipykernel_1614/4184564247.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  non_ascii_values = df_vbasedm_dirty.applymap(lambda x: contains_non_ascii(x))

In [32]:
# Specify the file path where you want to save the CSV file
file_path = "/Users/merryxmm7/Documents/GitHub/SQL_Quest_VideoGames/VbasedonM_CLEAN.csv"

# Save the DataFrame as a CSV file with UTF-8 encoding
df_vbasedm_dirty.to_csv(file_path, index=False, encoding='utf-8')